html, body {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.hideDownloadButton {
	position: fixed !important;
	height: 0 !important;
	width: 0 !important;
}