<custom-style>
    <dom-module id="kd-dialog" theme-for="vaadin-dialog-overlay">
        <template>
            <style>
            	[part="content"] {
            		padding: 0 !important;
            	}
            </style>
        </template>
    </dom-module>
</custom-style>