:host:before {
  	box-shadow: 0 0 10px 5px var(--lumo-contrast-20pct), var(--lumo-box-shadow-l);
  	background-color: transparent;
  	transition: box-shadow 0.3s;
  	transform: scaleX(1000%);
  	left: calc(50% - 25px);
  	border-radius: 50px;
  	position: fixed;
  	bottom: -50px;
  	height: 50px;
 	width: 50px;
  	content: '';
}

:host {
	padding-bottom: 5px;
}